if config.author
    .copyright
        P
            | © 
            != date(Date.now(), 'YYYY') + ' '
            | <a href="/">
            != config.author
.power
    p.
        <a href="http://pinggod.com/">Sean Sun</a>, 
        <a href="https://hexo.io">Hexo</a>, 
        <a href="https://github.com/">GitHub</a>, 
        <a href="https://jekyllrb.com/">Jekyll</a>